.main {
  display: flex;
 justify-content:center;
  align-items: center;
  padding: 1.5rem 10rem ;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
}


.menu {
  background-image: url("/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  min-height: 35vw;
  width: 20%;
  padding: 3% 2%;
  margin-left: -15%;
}

.menu article {
   display: flex; 
   font-size: 15px;
   margin-bottom: 17%;
  
}

.steps {
  margin-left: 8%;
}

.steps h3 {
  color:  hsl(228, 100%, 84%);
  font-size: 11px;
}

.steps h2 {
  color:  hsl(229, 24%, 87%);
  font-size: 15px;
}

.boton {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 5%;
   background: transparent;
   color: hsl(229, 24%, 87%);
   font-weight: 700;
   border: 0.06cm solid hsl(229, 24%, 87%);;
}

.botonActual {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  padding: 5%;
   background : "hsl(206, 94%, 87%)"; 
   color : "black" ;
   font-weight: 700;
   border: 0.06cm solid hsl(229, 24%, 87%);;
}

/* compenent 1 */

.mainCompo {
  min-height: 35vw;
  min-width: 140%;
  padding: 9% 0% 0% 15%;
  margin-top: 5%;
 
}

.Fcompo {
 align-items: center;
 text-align: center;
}

.header {
  margin-bottom: 8%;
  min-width: 100%;
 
}

.header h1 {
  color: hsl(213, 96%, 18%);
  font-size: 33px;
}

.header p {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 15px;
  margin-top: 2%;
  min-width: 100%;
}

.form {
  color: hsl(213, 96%, 18%);
 
}

.form div {
  margin-bottom: 4%;
}

.form input {
  width: 100%;
  height: 35px;
  font-size: 18px;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  padding: 4%;
  border: 0.05cm solid rgb(201, 199, 199);
}

.form input::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

.form h4 {
  margin-bottom: 2%;
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
}

.form span {
   color: hsl(354, 84%, 57%);
}

.subContainer {
  min-width: 100%;
  display: flex;
  justify-content: end;
  color: rgb(233, 59, 59);
  margin-top: 12%;
}

 #submit{
 max-width: 30%;
 height: 50px;
 border-radius: 10px;
 color: white;
 font-weight: 700;
 background-color:  hsl(213, 96%, 18%);
 padding: 0% 0% 0% 0%;
}

.control {
  display: inline-flex;
  justify-content: space-between;
  min-width: 100%;
  margin: -10% 20% 0% 20%;
  padding: 0% 3% 10% 3%;
 
}

.back {
  color: hsl(213, 96%, 18%) ;
  border: none;
  padding: 5% 8%;
  background-color: white;
  font-weight: 700;
  font-size: 17px;
}

.next {
  padding: 5% 8%;
 border-radius: 10px;
 color: white;
 font-weight: 600;
 background-color:  hsl(213, 96%, 18%);
 font-size: 17px;
}

.mainCompo button:hover, .mainCompo input:hover, .main button:hover, .mainCompo article:hover {
  cursor: pointer;
}

/* component 1 */

/* component 2*/

.plan {
  display: grid; /* al contenedor principal le doy grid como con flex*/
    grid-template-columns: 35% 35% 35% ; /*cada valor es el ancho que quiere y la cantidad de valores la columnas que quiero */
    gap: 0% 5%; /* espacio entre las filas y la columnas*/
  min-width: 100%;
  margin-top: 3%;
}

.plan article {
  height: 10rem;
  padding: 10%;
  border-radius: 10px;
}

.plan img {
  width: 40%;
}

.plan h3 {
  margin-top: 40%;
  font-size: 18px;
  color:  hsl(213, 96%, 18%);
}

.plan p {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
  font-size: 15px;
  margin-top: 5%;
}

.moYe {
  min-width: 100%;
  margin-top: 15%;
  display: inline-flex;
  justify-content: space-evenly;
}

/* component 2 */
/* component 3 */

.ons {
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.ventaja {
  display: inline-flex;
  justify-content: space-between;
  border: 0.05cm solid  hsl(213, 89%, 31%);;
  margin-bottom: 5%;
  padding: 5%;
  min-width: 140%;
  border-radius: 10px;
  text-align: left;
}

.ventaja h3, .ventaja input {
  color:  hsl(213, 96%, 18%) ;
  border:  none;
  font-size:  20px;
  font-weight: 700;
}

.ventaja p {
  color:  hsl(231, 11%, 63%);
}

.ventaja button {
  margin-top: 1%;
  padding: 2%;
}

.ventaja h4 {
  color:  hsl(243, 100%, 62%);
}

/* component 3 */


.toggle {
  display: flex;
justify-content:flex-start;
border-radius: 50px;
border-style: none;
background-color:  hsl(223, 31%, 20%);
  padding: 1% ;
  width: 58px;
}

.toggle input {
height: 22px;
width: 25px;
appearance: none;
border-radius: 50%;
background-color:  hsl(0, 9%, 96%);
opacity: 1;
cursor: pointer;
}

.two {
  background:  hsl(223, 31%, 20%);
}


/* section de pick add ons */

.BtnSele {
  border: 0.05cm solid  hsl(0, 0%, 51%);
  max-width: 20px;
  max-height: 20px;
  border-radius: 5px;
  background-color: white;
  background-image: none
}


.BtnNoSele {
 background-image: url("/icon-checkmark.svg");
 background-repeat: no-repeat;
 background-position: center;
 font-weight: 700;
 color: white;
 border: 0.05cm solid  hsl(0, 0%, 51%);
 width: 20px;
 height:  20px;
 border-radius: 5px;
 background-color:  hsl(243, 100%, 62%);
}

.confirm {
  padding: 2% 8%;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  background-color:  hsl(243, 100%, 62%);
  font-size: 17px;
  height: 60px;
}

/* component 4 */
.Fplan {
  min-width: 100%;
   display: inline-flex;
   justify-content: space-between;
   border-bottom:  0.05cm solid hsl(229, 24%, 87%);
   color:  hsl(213, 78%, 19%) ;
   font-size: 18px;
   margin-bottom: 4%;
}

.Fplan h2 {
  font-size: 18px;
  padding:  5% 0%;
}

.Fservicios {
  min-width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.Fservicios h4 {
  color: hsl(220, 2%, 72%);
  font-weight: 500;
  margin-bottom: 2%;
}

.Fservicios p{
   color: hsl(213, 40%, 38%) ;
   font-weight: 600;
}


.Ftotal {
  min-width: 100%;
  display: inline-flex;
  justify-content: space-between;
  margin-top: 5%;
}

.Ftotal h2 {
  color:  hsl(243, 100%, 62%);
}

.Fbotones {
  display: flex;
  justify-content: space-between;
  margin-top: 8%;
}

/* component 4 */

/*component final */

.Fcompo {
  display: flex;
  justify-content: center;
  min-height: 35vw;
  min-width: 50%;
  padding: 9% 0%;
  margin-top: 5%;
 }


 .Fcompo img {
    margin-bottom: 4%;
 }

 
 .Fcompo h1 {
  margin-bottom: 2%;
  font-size: 50px;
}

.Fcompo p {
   padding: 0% 30%;
   line-height: 0.8cm;
}

 /*component final */


/* Mobile */
@media (max-width: 600px) {

  .main {

    display: inline-block;
    padding: 0rem 0rem ;
  }
  
  
  .menu {
    background-image: url("/bg-sidebar-mobile.svg");
    min-height: 35vw;
    width: 100%;
    padding: 5% 24%;
    margin-left: 0%;
    display: flex;
    justify-content: space-around;
    z-index: 1;
  }
  
  .menu article {
     display: inline-flex; 
     font-size: 15px;
     margin-bottom: 0%;
  }
  
  .steps {
    display: none;
  }
  
  
  /* compenent 1 */
  
  .mainCompo {
    min-height: 50vw;
    max-width: 90%;
    min-width: 0%;
    padding: 5% 0% 0% 5%;
    margin-top: -13%;
    z-index: 10;
    background-color: rgb(253, 252, 252);
    border-radius: 10px;
  }
  
  .Fcompo {
   align-items: center;
   text-align: center;
  }
  
  
  .header p {
    font-size: 20px;
  }
  
  .form {
    color: hsl(213, 96%, 18%);
   
  }
  
  .form div {
    margin-bottom: 4%;
  }
  
  .control {
    display: inline-flex;
    justify-content: space-around;
    min-width: 100%;
    margin: 10% 0% 0% 0%;
    padding: 0% 0% 0% 0%;
   
  }
  
  .back {
    color: hsl(213, 96%, 18%) ;
    border: none;
    padding: 5% 0%;
    background-color: white;
    font-weight: 700;
    font-size: 17px;
  }
  
  .next {
    margin-top: 2%;
    padding: 3% 1%;
    text-align: center;
    justify-content: center;
   border-radius: 10px;
   color: white;
   font-weight: 600;
   background-color:  hsl(213, 96%, 18%);
   font-size: 17px;
   height: 50px;
   width: 150px;
  }
  
  /* component 1 */
  
  /* component 2*/
  
  .plan {
    display: inline-block; /* al contenedor principal le doy grid como con flex*/
    min-width: 100%;
    margin-top: 3%;
  }
  
  .plan article {
    height: 6rem;
    min-width: 100%;
    width: 100%;
    padding: 0% 5%;
    display: inline-flex;
  }
  
  .plan img {
    width: 15%;
  }
  
  .plan h3 {
    padding-left: 30%;
    margin-top: 35%;
    
  }
  
  .plan p {
    padding-left: 30%;
    margin-top: 5%;
  }
  
  /* component 2 */
  /* component 3 */
  

  .ventaja {
    min-width: 100%;
  }
  
  

  .ventaja button {
    margin-top: 1%;
    padding: 3%;
  }
  
  /* component 3 */
  
  
  
  /* section de pick add ons */
  
  
  .confirm {
    padding: 5% 8%;
    border-radius: 10px;
    color: white;
    font-weight: 600;
    background-color:  hsl(243, 100%, 62%);
    font-size: 17px;
  }
  
  /* component 4 */
  
  
  .Fservicios h4 {

    margin-bottom: 4%;
  }
  
  .Ftotal {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  
  .Ftotal h2 {
    color:  hsl(243, 100%, 62%);
  }
  
  .Fbotones {
    margin-top: 10%;
  }
  
  /* component 4 */
  
  /*component final */
  
  .Fcompo {
    display: flex;
    justify-content: center;
    min-height: 35vw;
    min-width: 50%;
    padding: 9% 0%;
    margin-top: 5%;
   }
  
  
   .Fcompo img {
      margin-bottom: 4%;
   }
  
   
   .Fcompo h1 {
    margin-bottom: 2%;
    font-size: 50px;
  }
  
  .Fcompo p {
     padding: 0% 30%;
     line-height: 0.8cm;
  }
  
   /*component final */
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

